<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<system.windows.forms jitDebugging="true" />-->
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <configProtectedData />
  <system.diagnostics />
  <system.windows.forms />
  <System.Windows.Forms.ApplicationConfigurationSection />
  <uri />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="v11" connectionString="Server=172.25.94.92;Initial Catalog=STA.Db;User Id=stadbadmin; Password=Hexaware123" />
  </connectionStrings>
  <appSettings>
    <add key="Components_Path_Environment_Variable" value="SELENIUM_COMPONENTS" />
    <add key="Active_Connection_String" value="v11" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="TestCaseReportDirectory" value="C:\Temp" />
    <add key="DisplayReport" value="True" />
    <add key="AuditDirectory" value="C:\Temp" />
    <add key="LoggedUser" value="tony" />
    <add key="LoggedProject" value="Vistra Demo" />
    <add key="TimeOutMiliseconds" value="30000" />
    <add key="Highlight" value="True" />
    <add key="Connetion" value="172.25.94.92" />
    <add key="JavaCABuild" value="C:\Temp" />
    <add key="Java_Path" value="C:\Program Files\Java\jdk1.8.0_152\bin" />
    <add key="company_logo" value="" />
    <add key="CloseBrowserAutomaticaly" value="False" />
    <add key="StopAtFirstFailure" value="False" />
    <add key="MaximumThreadExecution" value="2" />
    <add key="JavaCompilerTools" value="True" />
    <add key="IntegratedSecurity" value="False" />
    <add key="Deployment" value="True" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <comContracts />
    <diagnostics />
    <extensions />
    <protocolMapping />
    <routing />
    <serviceHostingEnvironment />
    <services />
    <standardEndpoints />
    <tracking />
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITestService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="6553500" />
        <binding name="BasicHttpBinding_IFolderService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="6553500" />
        <binding name="BasicHttpBinding_IHostConfigService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="6553500" />
        <binding name="BasicHttpBinding_IUserService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="6553500" />
        <binding name="BasicHttpBinding_IProjectService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://local                 host:51825/TestService/TestService.svc"
        behaviorConfiguration="EndpointBehaviour" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ITestService" contract="STA.MiddleTier.TestService.ITestService"
        name="BasicHttpBinding_ITestService" />
      <endpoint address="http://localhost:51825/HostConfigService/HostConfigService.svc"
        behaviorConfiguration="EndpointBehaviour" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IHostConfigService" contract="STA.MiddleTier.HostConfigService.IHostConfigService"
        name="BasicHttpBinding_IHostConfigService" />
      <endpoint address="http://localhost:51825/FolderService/FolderService.svc"
        behaviorConfiguration="EndpointBehaviour" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IFolderService" contract="STA.MiddleTier.FolderService.IFolderService"
        name="BasicHttpBinding_IFolderService" />
      <endpoint address="http://localhost:51825/UserService/UserService.svc"
        behaviorConfiguration="EndpointBehaviour" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUserService" contract="STA.MiddleTier.UserService.IUserService"
        name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:51825/ProjectService/ProjectService.svc"
        behaviorConfiguration="EndpointBehaviour" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IProjectService" contract="STA.MiddleTier.ProjectService.IProjectService"
        name="BasicHttpBinding_IProjectService" />
    </client>
  </system.serviceModel>
  <system.web>
    <anonymousIdentification />
    <authentication />
    <authorization />
    <clientTarget />
    <compilation />
    <customErrors />
    <deployment />
    <deviceFilters />
    <fullTrustAssemblies />
    <globalization />
    <healthMonitoring />
    <hostingEnvironment />
    <httpCookies />
    <httpHandlers />
    <httpModules />
    <httpRuntime />
    <identity />
    <machineKey />
    <mobileControls />
    <pages />
    <partialTrustVisibleAssemblies />
    <processModel />
    <profile />
    <protocols />
    <securityPolicy />
    <sessionPageState />
    <sessionState />
    <siteMap />
    <trace />
    <trust level="Full" />
    <urlMappings />
    <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
    <webParts />
    <webServices />
    <xhtmlConformance />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add serviceUri="" name="ClientAuthenticationMembershipProvider"
          type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add serviceUri="" cacheTimeout="86400" name="ClientRoleProvider"
          type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </providers>
    </roleManager>
    <caching>
      <cache />
      <outputCache />
      <outputCacheSettings />
      <sqlCacheDependency />
    </caching>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089"
          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089"
          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089"
          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <authenticationModules />
    <connectionManagement />
    <defaultProxy />
    <requestCaching />
    <settings />
    <webRequestModules />
    <mailSettings>
      <smtp />
    </mailSettings>
  </system.net>
  <system.runtime.caching>
    <memoryCache />
  </system.runtime.caching>
  <system.runtime.serialization>
    <dataContractSerializer />
  </system.runtime.serialization>
  <system.serviceModel.activation>
    <diagnostics />
    <net.pipe />
    <net.tcp />
  </system.serviceModel.activation>
  <system.transactions>
    <defaultSettings />
  </system.transactions>
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler />
      <webServices>
        <authenticationService />
        <jsonSerialization />
        <profileService />
        <roleService />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.xaml.hosting>
    <httpHandlers />
  </system.xaml.hosting>
  <system.xml.serialization>
    <dateTimeSerialization />
    <schemaImporterExtensions />
    <xmlSerializer />
  </system.xml.serialization>
</configuration>